@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');

*{
  font-family: 'Quicksand', sans-serif;
  /* background-color: #ECFBFC; */
  /* justify-content: center; */

}


/* Flipping the cards */
.card .frontOne{
  transform: rotateY(90deg);
  position: absolute;
}

.flipped .frontOne{
  transform: rotateY(0deg);
}