@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');

*{
  font-family: 'Quicksand', sans-serif;
  /* background-color: #ECFBFC; */
  /* justify-content: center; */

}


/* Flipping the cards */
.card .frontOne{
  transform: rotateY(90deg);
  position: absolute;
  transition: all ease-in-out 0.2s;
}

.flipped .frontOne{
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}

/* back one */
.card .backOne{
 transition-delay: 0.2s;
  transition: all ease-in-out 0.2s;
}

.flipped .backOne{
  transform: rotateY(90deg);
  transition-delay: 0s;
}

/* when media < 376 */
@media screen and (max-width: 376px){
  .backOne{
    max-width: 40px;
  }

  .frontOne{
    max-width: 40px;
  }
}

/* when media < 321 */
@media screen and (max-width: 321px){
  .backOne{
    max-width: 30px;
  }

  .frontOne{
    max-width: 30px;
  }
}

