@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&display=swap');

.App {
  font-family: 'Fira Sans Condensed', sans-serif;
  text-align: center;
  min-height: 100vh;
  background-color: #ECFBFC;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
}

header {
  color: white;
}

